{% extends "contol_estudios/base.html" %}

{% block contenido %}
<section>
 <div class="container">
   <h1>Artículos</h1>
   <a href="{% url 'crear_curso' %}">Crear Post</a>
   <br><br>
   <form action="{% url 'buscar_curso' %}" method="post">
     {% csrf_token %}
     <input type="text" name="busqueda">
     <input type="submit" value="Buscar">
   </form>
   <br>

   <div class="row justify-content-start">
     {% for post in posts %}
       <div class="col-md-4 mb-4">
         <div class="card">
           <img src="{{ post.imagen.url }}" class="card-img-top custom-img" alt="Imagen">
           <div class="card-body">
             <h5 class="card-title">{{ post.nombre }}</h5>
             <h6 class="card-subtitle">{{ post.comision }}</h6>
             <p class="card-text">{{ post.cuerpo }}</p>
             <a href="{{ post.get_absolute_url }}" class="btn btn-success">Ver más</a>
             {% if user == post.creador %}
               <a href="{% url 'editar_curso' post.id %}" class="btn btn-primary">Editar</a>
               <form action="{% url 'eliminar_curso' post.id %}" method="post" class="d-inline">
                 {% csrf_token %}
                 <input type="submit" value="Eliminar" class="btn btn-danger">
               </form>
             {% endif %}
           </div>
         </div>
       </div>
       {% if forloop.counter|divisibleby:3 and not forloop.last %}
         </div><div class="row justify-content-start">
       {% endif %}
     {% endfor %}
   </div>

 </div>
</section>

<style>
  .custom-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
</style>

{% endblock contenido %}
